*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}
.primary-color{
    color:#F948B2;
}
.logo, .nav-container ul{
    display: flex;
 align-items: center;
}
.nav-container, .banner-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
} 
.nav-container li{
    list-style: none;
    margin-right: 32px;
}
.logo h1{
    text-align: center;
font-size: 2.82rem;
font-weight: 700;
color: #0B0223;
}
.nav-container li, .nav-container button{
    color: #3C354F;
text-align: center;
font-size: 1.25rem;
font-weight: 500;
border-style: none;
}
.nav-container button{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.youtube{
margin: 0 10px;
color: red;
}
.titok{
    color: #000000;
    }
    /* banner style  */
    .banner-container{
        background-image: url("./cover.png");
        background-repeat: no-repeat;
        background-position: left;
      
    }
    .banner h2{
        color: #0B0223;
        font-size: 3rem;
        font-weight: 600;
       text-transform: uppercase;
     
       
    }
    .banner-container h1{
       
        font-size: 5.0rem;
        font-weight: 800;
        text-transform: uppercase;
        color:#F948B2;
        margin: 30px 0;
    }
.banner-container li{
    color: #534C64;
    font-size: 1.50rem;
    font-weight: 500;
    list-style:none;
    margin-bottom: 10px;
}
.btn1,.btn2{
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #F948B2;
    border-style: none;
    margin-top: 30px;
    margin-right: 40px;
}
.btn2{
background: #4EC5F7;
}
/* online game  */
.online-game h1{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
   margin-top: 60px;
   text-align: center;
}
.online-game p{
    color: #534C64;
font-size: 1.25rem;
font-weight: 500;
text-align: center;
margin-top: 20px;
}

.card-container{
    display: flex;
    justify-content: space-around;
    margin: 40px 200px;
}
   .card{
    width: 342px;
    height:500;
    border-radius: 16px;
   }
.card p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;

}
.image-container{
    position: relative;
}
   .image{
    opacity: 1;
  
  transition: .5s ease;
  
   }

   .videoPlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  text-align: center;
  }
  
  .image-container:hover .image {
    opacity: 0.5;
  }
  
  .image-container:hover .videoPlay{
    opacity: 1;
  }
  
  .text {
    
    
    color: #F948B2;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 32px;
    margin-top: 20px;
  }
  .videoicon{
    color:white;
    font-size: 30px;
    margin-bottom: 20px;
  }

  

/* play gamee  */
.play-game{
    display: flex;
    margin: 200px 150px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.imgs2{
 margin-left: 550px;
 margin-top: -250px;
}
.play-game h1{
    font-size:2.5rem;
    font-weight: 700;
    color: #0B0223;
    margin-bottom: 40px;
    margin-left: 30px;
}
.play-game p{
    color: #534C64;
    font-size: 1.15rem;
    font-weight: 400;
    width: 70%;
    margin-left: 30px;
}
/* icon */
.icons{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 295px;
height: 80px;
border-radius: 50px;
background: #ffffff;

}
.icons p{
    margin-left: 10px;
}
.icons:hover{
    width: 295px;
    height: 80px;
    border-radius: 50px;
    background: #ffffff;
    border:3px solid #F948B2;
    color:#F948B2
}
.icon-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 30px;
    margin: 100px 100px 300px 100px;
}
    
/* footer */
.footer{
  background-color: #0B0223; 
    }

.about-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    justify-items: center;
    margin:30px 70px;
    gap: 10px;
    padding: 20px;
}

.footer-logo{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 6px;
    padding-top: 100px;
    font-size: 700;
}
.icon2{
    color: #FFF;
 
}

.anchor-container{
    display: grid;
  grid-template-columns: repeat(4,1fr);
    font-size: 40px;
    margin: auto;
    color: #ffffff;
    margin:30px 500px;
    padding: 40px;
}
.about-container p{

    color: #FFF;
text-align: center;
font-size: 1.09rem;
font-style: normal;
font-weight: 600;


}
.terms{
display: grid;
grid-template-columns: repeat(4,1fr);
color: rgba(255, 255, 255, 0.60);
font-size: 1rem;
font-weight: 500;
margin:30px 500px;
margin:50px 200px;
}
.footer h1{
    color:#ffffff;
  
}
.small1{
    
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  
    }





/* small device  */
    @media screen and (max-width:576px) {

        .nav-container,.nav-container ul,.card-container{
            flex-direction: column;
            gap: 100px;
            align-items: center;
        }
        .play-game{
            flex-direction: column;
        }
        
        .nav-container ul{
            gap:30px;
        }
      .banner-container,.play-game{
        flex-direction: column-reverse;
        background-image: none;
      }
.banner-img img{
    width: 80%;
    margin-left: 40px;
    margin-bottom: 40px;
}
.banner h2{
    font-size: calc(1vw + 1rem);
    margin: auto;
}
.banner h1{
    font-size: calc(1vw + 2rem);
    margin:15px 0;
}
.banner li{
    font-size: calc(1vw + 0.5rem);
    
}
.btn1,.btn2{
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0;
    
}
.banner-des{
    background-image: url("./cover.png");
    background-size:100%;
    height:350px;

}

  .banner{
    margin: 70px 90px;
  }  
  /* online game  */

.online-game h1{
    font-size: calc(1vw + 1.25rem);
}
.online-game p{
    font-size: calc(1vw + .5rem);
}
/* play game  */
.imgs1{
    width:300px;
    margin-top: 20px;
  }
  .imgs2{
    width:40%;
    margin-left: 200px;
    margin-top: -100px;
  }
  .play-game h1,.play-game p{
    text-align: center;
    font-size: calc(1vw + 2rem);

  }
  .play-game p{
    margin-left: 50px;

    font-size: calc(1vw + .5rem);
  }
  .icon-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 20px 20px;
    gap: 20px;
  }
  .icons p{
    width: 100%;
    font-size: calc(1vw + .35rem);
  }
  .icons img{
    width: 40%;
  }
  .icons{
    width:70%;
height: 30px;
border-radius: 50px;
background: #ffffff;

}
.icons:hover{
    width: 100%;
    height: 30px;
    padding: 2px;
    border-radius: 20px;
    }
    .footer{
        text-align: center;
    }
    .about-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2);
        margin:20px 0;
        gap: 20px;
        
    }
.about-container p{
    font-size: .80rem;
}
      
    
    .footer-logo{
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 6px;
        padding-top: 100px;
        font-size: 700;
    }
    
    
   
    
    .anchor-container{
        display: grid;
      grid-template-columns: repeat(2,1fr);
        font-size: 25px;
        margin: 20px 20px 20px 20px;
        color: #ffffff;
        gap: 20px;
       
    }
    
    .terms{
    grid-template-columns: repeat(2,1fr);
    font-size: .75rem;
    gap: 20px;
    margin:0 ;
    padding-bottom: 20px;
 
    }
    .footer h1{
        color:#ffffff;
    }
    .small1{
        
        font-size: .70rem;
        font-weight: 500;
       margin-top: 30px;
       padding-bottom: 50px;
    
        }
    }
    
    
       
        
   
    /* medium device  */

    @media (min-width:760px) and (max-width:912px){
        .nav-container,.card-container,.play-game{
            flex-direction: column;
            gap:70px;
    
        }
        .banner-container{
            flex-direction: column-reverse;
            background-image:none;
            gap: 40px;
        }
        .banner-des{
            background-image: url("./cover.png");
            width:100%;
            height:550px;
        
        }
        .banner{
            margin: 70px 200px;
          }  
          .card{
            margin-top: 30px;
            text-align: center;
            margin: auto;
          }
          .imgs1{
            width:100%;
          }
          .imgs2{
            width:40%;
            margin-left:400px;
            margin-top: -200px;
          }
          .play-game h1, .play-game p{
            margin-left:2px;
            text-align: center;

          }
          .play-game p{
            margin: auto;
            width:100%;
            margin-left: 10px;
          }
          .icon-container{
            grid-template-columns: repeat(3,1fr);
            gap: 50px;
          }
          .icons p{
            width: 100%;
            font-size: calc(1vw + .35rem);
          }
          .icons img{
            width: 40%;
          }
          .icons{
            width:100%;
        height: 30px;
        border-radius: 50px;
        background: #ffffff;
        
        }
        .icons:hover{
            width: 100%;
            height: 30px;
            padding: 2px;
            border-radius: 20px;
        }

      .footer{
        width: 100%;
        text-align: center;
    }
    .about-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2);
        margin:20px 0;
        gap: 20px;
        
    }
.about-container p{
    font-size: .80rem;
}
      
    
    .footer-logo{
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 6px;
        padding-top: 100px;
        font-size: 700;
    }
    
   
    
    .anchor-container{
        display: grid;
      grid-template-columns: repeat(2,1fr);
        font-size: 25px;
        margin: 20px 20px 20px 20px;
        color: #ffffff;
        gap: 20px;
       
    }
    
    .terms{
    grid-template-columns: repeat(2,1fr);
    font-size: .75rem;
    gap: 20px;
    margin:0 ;
    padding-bottom: 20px;
 
    }
    
    .small1{
        font-size: .70rem;
        font-weight: 500;
       margin-top: 30px;
       padding-bottom: 50px;
    
        }
        
    }
